head
  meta(charset="utf-8")
  title Starlifter
  
  meta(name='viewport' content='width=device-width, initial-scale=1.0')

  //link(href="http://www.jonikorpi.com/images/avatar-570316eb.png" rel="icon" type="image/png")
  //link(rel="apple-touch-icon" type="image/png" href="http://www.jonikorpi.com/images/avatar-570316eb.png")
  // meta(name="msapplication-TileColor" content="#000000")
  //meta(name="msapplication-TileImage" content=image_url("avatar.png"))
  
  //- "Social icons"
  //meta(property="og:image"      content=image_url("avatar.png"))
  //meta(property="twitter:image" content=image_url("avatar.png"))

  //- URLs
  //meta(property="og:url"      content=current_page_url)
  //link(rel="canonical"           href=current_page_url)
  //meta(property="twitter:url" content=current_page_url)

  //- Titles
  //meta(property="og:title"      content=data.page.title)
  //meta(property="og:site_name"  content="Joni Korpi")
  //meta(property="twitter:title" content=data.page.title)

  //- Descriptions
  // %meta{property: "og:description",      content: ""})
  // %meta{name: "description",             content: ""})
  // %meta{property: "twitter:description", content: ""})

  //- Other crap
  meta(property="og:type"      content="website")
  meta(property="og:locale"    content="en_GB")
  meta(content="summary"      property="twitter:card")
  meta(content="@jonikorpi"   property="twitter:site")
  meta(name="format-detection" content="telephone=no")

body

template(name="layout")
  +yield
  
template(name="notFound")
  +header
  h1 Fleet not found
  
template(name="loading")
  +header
  h1 Loading…
  
template(name="header")
  h1 
    a(href="/") Starlifter
  button.start-fleet Start a fleet
  
template(name="home")
  +header
  //- 
  //- p All fleets:
  //- 
  //- ul
  //-   each fleets
  //-     li
  //-       a(href=_id) #{_id}
  

template(name="game")
  .game.abs-all.no-margins(id=_id)
    .game-header.abs-top-left
      +header
    
    .backdrop.abs-all
      +backdrop(xPos=xPos yPox=yPos)
    
    .grid-container.no-margins.abs-all
      .grid.abs-all
        .stars.abs-all
          each stars
            +star
        .fleets.abs-all
          each otherFleets
            +otherFleet
          +fleet
        .movement-controls.abs-all
        
    +cheats
        
template(name="backdrop")
  .backdrop-color.abs-all
  
  .layers.abs-all
    .layer.layer-1.abs-top-left($dyn=layer1)
    .layer.layer-1.abs-top-left.layer-left($dyn=layer1)
    .layer.layer-1.abs-top-left.layer-right($dyn=layer1)
    .layer.layer-1.abs-top-left.layer-top($dyn=layer1)
    .layer.layer-1.abs-top-left.layer-bottom($dyn=layer1)
    .layer.layer-1.abs-top-left.layer-top-left($dyn=layer1)
    .layer.layer-1.abs-top-left.layer-top-right($dyn=layer1)
    .layer.layer-1.abs-top-left.layer-bottom-left($dyn=layer1)
    .layer.layer-1.abs-top-left.layer-bottom-right($dyn=layer1)
    
    .layer.layer-2.abs-top-left($dyn=layer2)
    .layer.layer-2.abs-top-left.layer-left($dyn=layer2)
    .layer.layer-2.abs-top-left.layer-right($dyn=layer2)
    .layer.layer-2.abs-top-left.layer-top($dyn=layer2)
    .layer.layer-2.abs-top-left.layer-bottom($dyn=layer2)
    .layer.layer-2.abs-top-left.layer-top-left($dyn=layer2)
    .layer.layer-2.abs-top-left.layer-top-right($dyn=layer2)
    .layer.layer-2.abs-top-left.layer-bottom-left($dyn=layer2)
    .layer.layer-2.abs-top-left.layer-bottom-right($dyn=layer2)
    
    .layer.layer-3.abs-top-left($dyn=layer3)
    .layer.layer-3.abs-top-left.layer-left($dyn=layer3)
    .layer.layer-3.abs-top-left.layer-right($dyn=layer3)
    .layer.layer-3.abs-top-left.layer-top($dyn=layer3)
    .layer.layer-3.abs-top-left.layer-bottom($dyn=layer3)
    .layer.layer-3.abs-top-left.layer-top-left($dyn=layer3)
    .layer.layer-3.abs-top-left.layer-top-right($dyn=layer3)
    .layer.layer-3.abs-top-left.layer-bottom-left($dyn=layer3)
    .layer.layer-3.abs-top-left.layer-bottom-right($dyn=layer3)
  
template(name="fleet")
  .fleet.entity.player-fleet.abs-all
    .fleet-model.abs-all
    .debug-dialog 
      strong PLAYER FLEET
      .debug-line
        strong Secret
        span #{secretUrl}
      .debug-line
        strong Invite code
        span #{secretInvite}
      .debug-line
        strong Started
        span #{createdAt}
        .debug-line
          strong Last Move
          span #{lastMove}
      .debug-line
        strong ID
        span #{_id}
      .debug-line
        strong Loc 
        span #{loc}
    
template(name="otherFleet")
  .fleet.entity.abs-all.rendering-in($dyn=fleetAttributes)
    .fleet-model.abs-all
    .debug-dialog
      strong FLEET
      .debug-line
        strong ID
        span #{_id}
      .debug-line
        strong Loc 
        span #{loc}
      
template(name="star")
  .star.abs-all.entity.rendering-in($dyn=starAttributes)
    .star-model.abs-top-left($dyn=starModelAttributes)
    .debug-dialog
      strong STAR
      .debug-line
        strong Name 
        span #{name}
      .debug-line
        strong ID
        span #{_id}
      .debug-line
        strong Loc
        span #{loc}
      .debug-line
        strong Energy 
        span #{energy}
      .debug-line
        strong Max energy 
        span #{maxEnergy}

template(name="cheats")
  .cheats.abs-top-right
    button.button.random-star(type="button") Random star
    button.button.random-spot(type="button") Random spot
