head
  meta(charset="utf-8")
  title Starlifter
  
  meta(name='viewport' content='width=device-width, initial-scale=1.0')

  //link(href="http://www.jonikorpi.com/images/avatar-570316eb.png" rel="icon" type="image/png")
  //link(rel="apple-touch-icon" type="image/png" href="http://www.jonikorpi.com/images/avatar-570316eb.png")
  // meta(name="msapplication-TileColor" content="#000000")
  //meta(name="msapplication-TileImage" content=image_url("avatar.png"))
  
  //- "Social icons"
  //meta(property="og:image"      content=image_url("avatar.png"))
  //meta(property="twitter:image" content=image_url("avatar.png"))

  //- URLs
  //meta(property="og:url"      content=current_page_url)
  //link(rel="canonical"           href=current_page_url)
  //meta(property="twitter:url" content=current_page_url)

  //- Titles
  //meta(property="og:title"      content=data.page.title)
  //meta(property="og:site_name"  content="Joni Korpi")
  //meta(property="twitter:title" content=data.page.title)

  //- Descriptions
  // %meta{property: "og:description",      content: ""})
  // %meta{name: "description",             content: ""})
  // %meta{property: "twitter:description", content: ""})

  //- Other crap
  meta(property="og:type"      content="website")
  meta(property="og:locale"    content="en_GB")
  meta(content="summary"      property="twitter:card")
  meta(content="@jonikorpi"   property="twitter:site")
  meta(name="format-detection" content="telephone=no")

body

template(name="layout")
  +yield
  
template(name="header")
  h1 
    a(href="/") Starlifter
  button.start-fleet Start a fleet
  
template(name="home")
  +header
  //- 
  //- p All fleets:
  //- 
  //- ul
  //-   each fleets
  //-     li
  //-       a(href=_id) #{_id}
  

template(name="game")
  .game.abs-all.no-margins(id=_id)
    .game-header.abs-top-left
      +header
    
    +backdrop(xPos=xPos yPox=yPos)
    
    .grid-container.no-margins.abs-all
      .grid.abs-all
        .movement-controls
        +otherFleets
        +fleet
        
template(name="backdrop")
  .backdrop.abs-all
  .dimmer.abs-all
  
  .layer.layer-1.abs-top-left($dyn=layer1)
  .layer.layer-1.abs-top-left.layer-left($dyn=layer1)
  .layer.layer-1.abs-top-left.layer-right($dyn=layer1)
  .layer.layer-1.abs-top-left.layer-top($dyn=layer1)
  .layer.layer-1.abs-top-left.layer-bottom($dyn=layer1)
  .layer.layer-1.abs-top-left.layer-top-left($dyn=layer1)
  .layer.layer-1.abs-top-left.layer-top-right($dyn=layer1)
  .layer.layer-1.abs-top-left.layer-bottom-left($dyn=layer1)
  .layer.layer-1.abs-top-left.layer-bottom-right($dyn=layer1)
  
  .layer.layer-2.abs-top-left($dyn=layer2)
  .layer.layer-2.abs-top-left.layer-left($dyn=layer2)
  .layer.layer-2.abs-top-left.layer-right($dyn=layer2)
  .layer.layer-2.abs-top-left.layer-top($dyn=layer2)
  .layer.layer-2.abs-top-left.layer-bottom($dyn=layer2)
  .layer.layer-2.abs-top-left.layer-top-left($dyn=layer2)
  .layer.layer-2.abs-top-left.layer-top-right($dyn=layer2)
  .layer.layer-2.abs-top-left.layer-bottom-left($dyn=layer2)
  .layer.layer-2.abs-top-left.layer-bottom-right($dyn=layer2)
  
  .layer.layer-3.abs-top-left($dyn=layer3)
  .layer.layer-3.abs-top-left.layer-left($dyn=layer3)
  .layer.layer-3.abs-top-left.layer-right($dyn=layer3)
  .layer.layer-3.abs-top-left.layer-top($dyn=layer3)
  .layer.layer-3.abs-top-left.layer-bottom($dyn=layer3)
  .layer.layer-3.abs-top-left.layer-top-left($dyn=layer3)
  .layer.layer-3.abs-top-left.layer-top-right($dyn=layer3)
  .layer.layer-3.abs-top-left.layer-bottom-left($dyn=layer3)
  .layer.layer-3.abs-top-left.layer-bottom-right($dyn=layer3)
  
template(name="fleet")
  .fleet.player-fleet.abs-all
    .fleet-base.abs-all
    .fleet-shadow.abs-all
    .fleet-model.abs-all #{xPos} #{yPos}
    
template(name="otherFleets")
  each otherFleets
    .fleet.abs-all($dyn=offsetPositions)
      .fleet-base.abs-all
      .fleet-shadow.abs-all
      .fleet-model.abs-all #{xPos} #{yPos}
