head
  meta(charset="utf-8")
  title Starlifter
  
  meta(name='viewport' content='width=device-width, initial-scale=1.0')

  //link(href="http://www.jonikorpi.com/images/avatar-570316eb.png" rel="icon" type="image/png")
  //link(rel="apple-touch-icon" type="image/png" href="http://www.jonikorpi.com/images/avatar-570316eb.png")
  // meta(name="msapplication-TileColor" content="#000000")
  //meta(name="msapplication-TileImage" content=image_url("avatar.png"))
  
  //- "Social icons"
  //meta(property="og:image"      content=image_url("avatar.png"))
  //meta(property="twitter:image" content=image_url("avatar.png"))

  //- URLs
  //meta(property="og:url"      content=current_page_url)
  //link(rel="canonical"           href=current_page_url)
  //meta(property="twitter:url" content=current_page_url)

  //- Titles
  //meta(property="og:title"      content=data.page.title)
  //meta(property="og:site_name"  content="Joni Korpi")
  //meta(property="twitter:title" content=data.page.title)

  //- Descriptions
  // %meta{property: "og:description",      content: ""})
  // %meta{name: "description",             content: ""})
  // %meta{property: "twitter:description", content: ""})

  //- Other crap
  meta(property="og:type"      content="website")
  meta(property="og:locale"    content="en_GB")
  meta(content="summary"      property="twitter:card")
  meta(content="@jonikorpi"   property="twitter:site")
  meta(name="format-detection" content="telephone=no")

body

template(name="layout")
  +yield
  
template(name="home")
  h1 
    a(href="/") Starlifter
    
  button.start-fleet(type="button") Start a fleet
  
  ul
    each fleets
      li
        a(href=_id) #{_id}
  

template(name="game")
  .game.abs-all.no-margins(id=_id)
    .game-header.abs-top-left
      h1 
        a(href="/") Starlifter
        span —
        a(href=_id) Fleet ##{_id}
    
    +backdrop(xPos=xPos yPox=yPos)
    
    .grid-container.no-margins.abs-all
      .grid.abs-all
        +fleet
        
template(name="backdrop")
  .backdrop.abs-all
  .dimmer.abs-all
  .layer.layer-1.abs-all($dyn=layerOne)
  .layer.layer-2.abs-all($dyn=layerTwo)
  .layer.layer-3.abs-all($dyn=layerThree)
  .layer.layer-4.abs-all($dyn=layerFour)
  .layer.layer-5.abs-all($dyn=layerFive)
  
template(name="fleet")
  .fleet.abs-all
    .fleet-base.abs-all
    .fleet-shadow.abs-all
    .fleet-model.abs-all #{xPos} #{yPos}
    +fleetControls

template(name="fleetControls")
  .fleet-controls.abs-all
  
    button.move.move-left(type="button" data-move-x="-1") 
    button.move.move-left(type="button" data-move-x="-2") 
    button.move.move-left(type="button" data-move-x="-3") 
    button.move.move-left(type="button" data-move-x="-4") 
    button.move.move-left(type="button" data-move-x="-5") 
    button.move.move-left(type="button" data-move-x="-6") 
    button.move.move-left(type="button" data-move-x="-7") 
    button.move.move-left(type="button" data-move-x="-8") 
    button.move.move-left(type="button" data-move-x="-9") 
    button.move.move-left(type="button" data-move-x="-10")
    button.move.move-left(type="button" data-move-x="-11")
    button.move.move-left(type="button" data-move-x="-12")
    
    button.move.move-right(type="button" data-move-x="1") 
    button.move.move-right(type="button" data-move-x="2") 
    button.move.move-right(type="button" data-move-x="3") 
    button.move.move-right(type="button" data-move-x="4") 
    button.move.move-right(type="button" data-move-x="5") 
    button.move.move-right(type="button" data-move-x="6") 
    button.move.move-right(type="button" data-move-x="7") 
    button.move.move-right(type="button" data-move-x="8") 
    button.move.move-right(type="button" data-move-x="9") 
    button.move.move-right(type="button" data-move-x="10")
    button.move.move-right(type="button" data-move-x="11")
    button.move.move-right(type="button" data-move-x="12")
    
    button.move.move-up(type="button" data-move-y="-1") 
    button.move.move-up(type="button" data-move-y="-2") 
    button.move.move-up(type="button" data-move-y="-3") 
    button.move.move-up(type="button" data-move-y="-4") 
    button.move.move-up(type="button" data-move-y="-5") 
    button.move.move-up(type="button" data-move-y="-6") 
    button.move.move-up(type="button" data-move-y="-7") 
    button.move.move-up(type="button" data-move-y="-8") 
    button.move.move-up(type="button" data-move-y="-9") 
    button.move.move-up(type="button" data-move-y="-10")
    button.move.move-up(type="button" data-move-y="-11")
    button.move.move-up(type="button" data-move-y="-12")
    
    button.move.move-down(type="button" data-move-y="1") 
    button.move.move-down(type="button" data-move-y="2") 
    button.move.move-down(type="button" data-move-y="3") 
    button.move.move-down(type="button" data-move-y="4") 
    button.move.move-down(type="button" data-move-y="5") 
    button.move.move-down(type="button" data-move-y="6") 
    button.move.move-down(type="button" data-move-y="7") 
    button.move.move-down(type="button" data-move-y="8") 
    button.move.move-down(type="button" data-move-y="9") 
    button.move.move-down(type="button" data-move-y="10")
    button.move.move-down(type="button" data-move-y="12")
    button.move.move-down(type="button" data-move-y="12")
